<template lang="pug">
.day
    .day__number {{day}}
    ul.day__events-list(v-if="eventDay.length > 0")
        li.day__events-item(v-for="item in eventsArr" :key="item.id" :class="addEventClassFunctions(item.type, 'day__events-item')")
            p.day__events-data {{item.date | moment("h:mm")}}
            p.day__events-discriptions {{item.name}}
        li.day__events-last-item(v-if="hiddenElementEvent")
            button.day__btn-open-list-events(@click="openList") ...
</template>

<script>
export default {
    name: 'CalendarDay',
    props:{
        eventDay: Array,
        day: {
            type: Number,
            require: true
        },
        arrEvents: Array,
        addEventClassFunctions: Function,
    },
    data: ()=>{
        return{
            hiddenElementEvent: false,
            eventsArr: []
        }
    },
    methods:{
        //колличество показов евентов во дне
        eventsListArr(){
            const dayItem = document.querySelector('.calendar__day');
            const dayItemHeight = dayItem.offsetHeight
            const eventLength = this.eventDay.length;


            if(dayItemHeight > 400){
                if(eventLength > 15) this.hiddenElementEvent = true
                this.eventsArr = this.eventDay.slice(0,15)
                return
            }
            if(dayItemHeight > 300){
                if(eventLength > 11) this.hiddenElementEvent = true
                this.eventsArr = this.eventDay.slice(0,11)
                return
            }
            if(dayItemHeight > 200){
                if(eventLength > 7) this.hiddenElementEvent = true
                this.eventsArr = this.eventDay.slice(0,7)
                return
            }
            if(dayItemHeight > 100){
                if(eventLength > 3) this.hiddenElementEvent = true
                this.eventsArr = this.eventDay.slice(0,3)
                return
            }

            if(dayItemHeight < 100){
                if(eventLength > 1) this.hiddenElementEvent = true
                return []
            }
        },

        openList(){
            this.$emit('update', this.eventDay)
        }
    },
    computed:{

    },
    mounted() {
        this.eventsListArr()
    }

}
</script>

<style scoped lang="scss">

.day{
    &__number{
        margin-bottom: 8%;
    }
    &__events-list{
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: transparent;
        width: 100%;

    }
    &__events-item{
        display: flex;
        font-weight: 500;
        padding: 2px;

        &_type-1{
            color: #006400;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(152,251,152,1) 50%, rgba(255,255,255,1) 100%);
        }
        &_type-2{
            color: #4682B4;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(106,178,247,1) 50%, rgba(255,255,255,1) 100%);
        }

        &_type-3{
            color: #8B0000;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(249,89,89,1) 50%, rgba(255,255,255,1) 100%);
        }


        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
    &__events-last-item{
        text-align: start;
    }
    &__events-data{
        margin-right: 5px;
    }
    &__events-discriptions{
        overflow: hidden;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__btn-open-list-events{
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }
}
</style>