<template lang="pug">
.calendar-wrapper
    table.calendar-block
        thead.control-bar
            tr.control-bar__btn-block
                td.control-bar__td.control-bar__td-btn
                    button.control-bar__btn.btn-past(@click="pastDay")
                td.control-bar__td
                    p.control-bar__date {{dateOutput}}
                td.control-bar__td.control-bar__td-btn
                    button.control-bar__btn.btn-next(@click="nextDay")
            tr.control-bar__tr-week
                td.calendar__td-week(v-for="day in days" :key="day") {{day}}
        tbody.calendar
            template(v-for="(week, index) in calendar()")
                tr.calendar__tr-week(v-if="week.length > 0" :key="index")
                    td.calendar__day( :class="dayModifierClass(day.index, 'calendar__day')" v-for="day in week" :key="day.index")
                        calendar-day(:day="day.index" :event-day="dayEvents(day.index)" @update="update(arrEvents, $event)" :addEventClassFunctions="addTypeClass")
    transition(name="modal")
        .event-container(v-if="arrEvents.length > 0")
            .event-bg(@click="closeModal")
            ul.event-list
                li.event-list__item(v-for="item in arrEvents" :key="item.id" :class="addTypeClass(item.type, 'event-list__item')")
                    p.event-list__data {{item.date | moment("h:mm")}}
                    p.event-list__name {{item.name}}
</template>

<script>
import CalendarDay from "./CalendarDay";
export default {
    name: "Calendar",
    components: {CalendarDay},
    props: {
        events: Array
    },
    data:()=>{
        return {
            month: new Date().getMonth(),
            year: new Date().getFullYear(),
            dFirstMonth: '1',
            days: ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенья"],
            months: ["Января", "Февраля", "Марта", "Апреля", "Майя", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабрь"],
            date: new Date(),
            arrEvents: [],
        }
    },
    methods:{
        //создание календаря
        calendar: function(){
            const days = [];
            let week = 0;
            days[week] = [];
            const dLast = new Date(this.year, this.month + 1, 0).getDate();
            for (let i = 1; i <= dLast; i++) {
                if (new Date(this.year, this.month, i).getDay() != this.dFirstMonth) {
                    const a = {index:i};
                    days[week].push(a);
                } else {
                    week++;
                    days[week] = [];
                    const a = {index:i};
                    days[week].push(a);
                }
            }
            if (days[0].length > 0) {
                for (let i = days[0].length; i < 7; i++) {
                    days[0].unshift('');
                }
            }
            return days;
        },

        //переключения дня в перед
        nextDay(){
            this.dayChange();
            this.month++;
            if (this.month > 11) {
                this.month = -1;
                this.month++;
                this.year++;
            }
        },

        //переключения дня назад
        pastDay(){
            this.dayChange();
            this.month--;
            if (this.month < 0) {
                this.month = 12;
                this.month--;
                this.year--;
            }
        },

        //изменения расположения дня в зависимости от месяца
        dayChange(){
            if (this.dFirstMonth != 0) {
                this.days = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенья"]
            } else {
                this.days = ["Воскресенья","Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"]
            }
        },

        //доп класс для дня
        dayModifierClass(day,className){
            const calendarDate = new Date(this.year, this.month, day);
            const dayOfRest = calendarDate.getDay() === 0 || calendarDate.getDay() === 6 ? true : false;
            const currentDate = new Date();
            currentDate.setHours(0,0,0,0);

            if(calendarDate < currentDate){
                if(dayOfRest){
                    return className + '_past' + ' ' + className + '_day-rest'
                }
                return className + '_past'
            }
            if(calendarDate.getTime() == currentDate.getTime()){
                if(dayOfRest){
                    return className + '_current' + ' ' + className + '_day-rest'
                }
                return className + '_current'
            }
            if(dayOfRest){
                return className + '_day-rest'
            }
        },

        //событие для дня
        dayEvents(day){
            const events = [];
            if(this.events.length > 0){
                this.events.forEach(el=>{
                    const calendarDate = new Date(this.year, this.month, day);
                    const eventData = new Date(el.date)
                    eventData.setHours(0,0,0,0);

                    if(calendarDate.getTime() === eventData.getTime()){
                        events.push(el)
                    }
                })
            }

            events.sort((a,b) => new Date(a.date) - new Date(b.date))
            return events;
        },

        //открытие эвент листа
        update(eventList, event) {
            this.arrEvents = event
        },

        //закрытие модалки
        closeModal(){
            this.arrEvents = []
        },

        //классы для итемов в модалке
        addTypeClass(type, className){
            switch (type){
                case 'type1':
                    return className+ '_type-1';
                case 'type2':
                    return className+ '_type-2';
                case 'type3':
                    return className+ '_type-3';
                default:
                    return
            }
        },
    },
    computed:{
        dateOutput(){
            if(this.year === this.date.getFullYear()){
                this.months = ["Январ", "Феврал", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
                return this.months[this.month]
            }
            this.months = ["Января", "Февраля", "Марта", "Апреля", "Майя", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря"];
            return this.year + ' ' + this.months[this.month]
        }
    }
};
</script>

<style scoped lang="scss">
$lightGray: #DCDCDC;

.calendar-wrapper{
    position: relative;
    height: 100vh;
    padding: 20px;
    background: $lightGray;
}
.calendar-block{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;

    padding: 15px;
    background: white;
    border-radius: 25px;

    text-align: center;

    margin: 0 auto;
    max-width: 1400px;
}
.control-bar{
    margin-bottom: 10px;

    &__tr-week{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    &__btn-block{
        margin-bottom: 20px;
        display: flex;
    }
    &__td {
        display: flex;
        &:not(:last-child){
            margin-right: 10px;
        }
    }
    &__td-btn{
        transition: transform 0.3s;

        &:hover,
        &:focus{
            transform: scale(1.3);
            transition: transform 0.3s;
        }

        &:active{
            transform: scale(0.7);
            transition: transform 0.3s;
        }
    }
    &__btn{
        cursor: pointer;
        border: none;
        outline: none;

        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url("../../static/img/svg/arrow-btn.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        transition: transform 0.3s;
    }
    .btn-past{
        transform: rotate(-90deg);
    }
    .btn-next{
        transform: rotate(90deg);
    }
    &__date{
        text-align: center;
        font-weight: 600;
        color: #4169E1;
        font-size: 18px;
        text-transform: uppercase;
    }
}
.calendar{
    display: grid;
    grid-row-gap: 2px;
    height: 100%;

    &__tr-week{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 2px;
    }
    &__td-week{
        font-weight: 600;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 3px;
    }

    &__day{
        position: relative;
        overflow: hidden;
        padding: 5px;

        border: 1px solid $lightGray;
        border-radius: 5px;

        text-align: end;
        font-weight: 600;

        &_past{
            background: $lightGray;
            color: #808080;
        }
        &_current{
            border-color: grey;
            border-width: 2px;
            color: green;
        }
        &_day-rest{
            color: #8B00FF;
        }
    }
}
.event-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px;

    min-width: 300px;
    max-height: 75vh;
    overflow: auto;

    &__item{
        display: flex;
        padding: 5px;
        border-radius: 4px;

        &_type-1{
            color: #006400;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(152,251,152,1) 50%, rgba(255,255,255,1) 100%);
        }
        &_type-2{
            color: #4682B4;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(106,178,247,1) 50%, rgba(255,255,255,1) 100%);
        }

        &_type-3{
            color: #8B0000;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(249,89,89,1) 50%, rgba(255,255,255,1) 100%);
        }

        &:not(:last-child){
            margin-bottom: 15px;
        }
    }

    &__data{
        font-weight: 600;
        margin-right: 15px;
    }

    &__name{
        font-style: italic;
    }

}

.event-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event-bg{
    background: black;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: opacity 0.3s;

    &:hover{
        opacity: 0.5;
        transition: opacity 0.3s;
    }
}

.modal-enter-active, .modal-leave-active {
    transition: opacity .5s;
}
.modal-enter, .modal-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
</style>
