<template lang="pug">
    #app
        calendar-creating(:events="data")
</template>

<script>

import CalendarCreating from "./components/CalendarCreating";
const data = [
    {
        id: Math.random(),
        name: 'lorem 1',
        date: new Date(),
        type: 'type1',
    },
    {
        id: Math.random(),
        name: 'lorem 2',
        date: new Date(),
        type: 'type2',
    },
    {
        id: Math.random(),
        name: 'lorem 3',
        date: new Date(),
        type: 'type3',
    },
    {
        id: Math.random(),
        name: 'lorem 1',
        date: new Date(),
        type: 'type1',
    },
    {
        id: Math.random(),
        name: 'lorem 3',
        date: new Date(),
        type: 'type3',
    },
    {
        id: Math.random(),
        name: 'lorem 2',
        date: new Date(),
        type: 'type2',
    },
    {
        id: Math.random(),
        name: 'lorem 3',
        date: new Date(),
        type: 'type3',
    },
]
export default {
  name: 'App',
  components: {
      CalendarCreating
  },
    data:()=>{
      return{
          data: data,
      }
    },
}
</script>

<style lang="scss">
body{
    min-width: 600px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
</style>
